/* Add Badge styles here */
.badge {
  display: inline-block;

  padding: 4px 8px;

  font-size: 12px;

  font-weight: bold;

  border-radius: 4px;
}

.badge-success {
  background-color: green;

  color: white;
}

.badge-warning {
  background-color: yellow;

  color: black;
}

.badge-danger {
  background-color: red;

  color: white;
}

.badge-pill {
  border-radius: 20px;
}